{% load static %}

<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <!--Block pour ajouter du css-->
    {% block css %}{% endblock %}

    <!--Block pour générer un titre en fonction de la page-->
    <title>Dahlias Esport | {% block title %}{% endblock %}</title>

</head>

<body>
    <header>
        <img src="{% static 'img/logos/PetitLogo.png' %}" alt="logoDahliasEsport" class="logo">
        <div class="navbar">

            <a class="nav-item" href="{% url 'main:accueil' %}"><span>Accueil</span></a>
            <a class="nav-item" href="https://fullbloom.dahlias-esport.fr/"><span>FullBloom</span></a>
            <a class="nav-item" href="{% url 'main:equipes' %}"><span>Equipes</span></a>
            {# <a class="nav-item" href="{% url 'main:boutique' %}"><span>Boutique</span></a> #}
        </div>
    </header>





    <!-- Site footer -->
    <footer class="site-footer">
        <img src="{% static 'img/logos/PetitLogo.png' %}" alt="logoDahliasEsport" class="logo">
        <div class="footer-categories">
            <div class="test">
                <h6>Dahlias</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'main:accueil' %}">Accueil</a></li>
                    <li><a href="https://fullbloom.dahlias-esport.fr/">FullBloom</a></li>
                    <!-- <li><a>Boutique</a></li> -->
                    <li><a href="{% url 'main:equipes' %}">Equipes</a></li>
                </ul>
            </div>

            <div class="test">
                <h6>Equipes</h6>
                <ul class="footer-links">
                    <li><a href="{% url 'main:equipes' %}">[DEs] Alchimyst</a></li>
                    <li><a href="{% url 'main:equipes' %}">[DEs] Academy</a></li>
                    <li><a href="{% url 'main:equipes' %}">[DEs] Raw</a></li>
                    <li><a href="{% url 'main:equipes' %}">[DEs] Blue Lagoon</a>
                    </li>
                    <li><a href="{% url 'main:equipes' %}">[DEs] Team Rocket</a></li>
                </ul>
            </div>

            <div class="test">
                <h6>Contactez-nous</h6>
                <ul class="footer-links">
                    <li><a href="">A propos</a></li>
                    <li><a href="">Contactez-nous</a></li>
                    <li><a href="">Privacy Policy</a></li>
                    <li><a href="">RGPD</a></li>
                </ul>
            </div>
            <div class="test">
                <h6>Réseaux sociaux</h6>
                <ul class="footer-links">
                    <li><a href="">Twitter</a></li>
                    <li><a href="">Facebook</a></li>
                    <li><a href="">Discord</a></li>
                    <li><a href="">Twitch</a></li>
                </ul>
            </div>
        </div>

        <hr>
        </div>
        <div>

            <div>
                <p class="copyright-text">Copyright &copy; 2020 All Rights Reserved by
                    <a href="#">Dahlias Esport</a>.
                </p>

            </div>
    </footer>
    {% block javascript %}{% endblock %}
</body>

</html>