{% extends 'base.html' %}
{% load static %}

{% block title %}Equipes{% endblock %}

{% block content %}

<div class="main">
    <div class="team">
        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>

        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>
        
        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>
        
        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>
        
        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>
        
        <div class="player">
            <img src="{% static 'img/personnage/widowmaker.png' %}" class="img" alt="widowmaker">
            <p class="role" >Charm</p>
            <p class="role" >DPS Hitscan</p>
        </div>
    </div>
    <div class="team">

    </div>
    <div class="team">

    </div>
    <div class="team">

    </div>
    <div class="team">

    </div>

</div>

{% endblock %}

{% block javascript %}

{% endblock %}